.flex {
	display: flex;
}
.row-container {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	width: 75%;
}

.column-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-end;
	height: 100vh;
}
.color {
	width: 200px;
	min-height: 100px;
	margin: 10px;
	border: 1px solid;
	transition: all 1000ms ease-in-out;
}
.red {
	background: red;
}
.green {
	background: green;
}
.blue {
	background: lightskyblue;
}
@media (prefers-reduced-motion: no-preference) {
	.column-container{
			animation: column-containers-scale  infinite 6s ease-in-out;
	}
	.row-container{
		animation: row-containers-scale  infinite 6s ease-in-out;
 }

}
@keyframes row-containers-scale {
	from {
		transform: scaleX(1);
	}
	to {
		transform: scaleX(0.2);
	}
}
@keyframes column-containers-scale {
	from {
		transform: scaleY(1);
	}
	to {
		transform: scaleY(0.2);
	}
}


